<h4>Repetier EEprom Settings</h4>
Your machine is <span style="color: red" data-bind="visible: isConnected() && !isRepetierFirmware()">not</span> <span data-bind="visible: !isConnected()">not connected to a printer</span><span data-bind="visible: isConnected()">Repetier Firmware based</span>
<div data-bind="visible: !accessGranted()">
You do not appear to be authorized to access this section.
</div>
<div data-bind="visible: accessGranted()">
    <form class="form-horizontal" data-bind="visible: isRepetierFirmware() && isConnected()">
        <button class="btn" data-bind="enabled: isRepetierFirmware, click: loadEeprom">{{ _('Load EEprom') }}</button>
        <button class="btn" data-bind="enabled: isRepetierFirmware, click: saveEeprom">{{ _('Save EEprom') }}</button>
    </form>

    <div data-bind="foreach: eepromData">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" style="width: 300px" data-bind="text: description, attr: { 'for': position }"></label>
                <div class="controls" style="margin-left: 320px; width: 30%" >
                    <input type="text" class="input-block-level" data-bind="value: value, attr: { 'id': position }">
                </div>
            </div>
        </form>
    </div>
</div>